# SANITY
CORE/.obsidian
CORE/.trash

# MINE
CORE/TMP.md
CORE/ATTACHMENTS/FILES/
CORE/ATTACHMENTS/UNSORTED/
CORE/ATTACHMENTS/GAMES/BUCKET/
CORE/ATTACHMENTS/GAMES/Deck of Omen/
CORE/ATTACHMENTS/GAMES/Eclipse Frame/
CORE/ATTACHMENTS/GAMES/HOMEBREW/
CORE/ATTACHMENTS/GAMES/NPC/
CORE/ATTACHMENTS/GAMES/PC/
CORE/DOCUMENTS/
CORE/WORK/QA/
CORE/WORK/TABLETOP/FRAMEWORKS/
CORE/WORK/TABLETOP/GAMES/
CORE/WORK/TABLETOP/MAPS/
CORE/WORK/TABLETOP/RULES/
CORE/WORK/TABLETOP/MINE/RACE/
CORE/WORK/TABLETOP/MODULE/D&D Omens of Strahd/
CORE/WORK/TABLETOP/MODULE/GNSYS Eclipse Frame/